@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  /* Colors */
  /* ### Primary */
  --color-*: initial;
  --color-Purple-50: hsl(260, 100%, 95%);
  --color-Purple-300: hsl(264, 82%, 80%);
  --color-Purple-500: hsl(263, 55%, 52%);

  /* ### Neutral */

  --color-White: hsl(0, 0%, 100%);
  --color-Grey-100: hsl(214, 17%, 92%);
  --color-Grey-200: hsl(0, 0%, 81%);
  --color-Grey-400: hsl(224, 10%, 45%);
  --color-Grey-500: hsl(217, 19%, 35%);
  --color-Dark-blue: hsl(219, 29%, 14%);
  --color-Black: hsl(0, 0%, 7%);

  /* ### Fonts */
  --text-*: initial;
  --text-base: 0.813rem;
  --text-20: 1.25rem;

  --font-*: initial;
  --font-semicondensed: "Barlow Semi Condensed", sans-serif;

  /* ### Spacing */

  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-40: 2.5rem;
}

@utility text-preset-1 {
  font-size: var(--text-20);
  line-height: 1.2;
  @apply font-semibold;
}

@utility text-preset-3 {
  @apply leading-[1.4];
}

@utility text-preset-4 {
  font-size: 0.688rem;
}
